$green: #23ACB4;
$blue: #364752;
$grey: #B2CCBA;
$red: #EA4D5B;
$white: #ECF0F1;
$black: #3A3D3B;



body{
	background: $black;
	padding:0;
	margin:0;
	font:400 14px/21px 'Lato';
}
h1{
	font:700 22px/22px 'Roboto Cond';
	color: $black;
	box-sizing:border-box;
}
